---
import Layout      from '../../layouts/Layout.astro';
import Hero        from '../../components/sections/Hero.astro';
import Servicios   from '../../components/sections/Servicios.astro';
import Marquee     from '../../components/sections/Marquee.astro';
import Clientes    from '../../components/sections/Clientes.astro';
import Contacto    from '../../components/sections/Contacto.astro';
---
<Layout title="Gauchino - Custom technology solutions" hasHero={true}>
  <div class="hero-services-unified">
    <Hero />
    <Servicios />
  </div>
  <Marquee />
  <Clientes />
  <Contacto />
</Layout>
